<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>523461671806-29u0no9ru432j55focrgojc5ekkk409c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523461671806-29u0no9ru432j55focrgojc5ekkk409c</string>
	<key>API_KEY</key>
	<string>AIzaSyDf2xnCkXsq82281clUdWS6BrS_vhpmUds</string>
	<key>GCM_SENDER_ID</key>
	<string>523461671806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.leodegeus.SwanServerLogic</string>
	<key>PROJECT_ID</key>
	<string>swahn-612fb</string>
	<key>STORAGE_BUCKET</key>
	<string>swahn-612fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523461671806:ios:d33edda6fab3537e</string>
	<key>DATABASE_URL</key>
	<string>https://swahn-612fb.firebaseio.com</string>
</dict>
</plist>